* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size:'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: 49px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 700;  
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
.bold {
  font-weight: 700;
  font-size: 31px;
}
.thin {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.weight {
  font-size: 18px;
  color:#0F0F0F ;
}
.container{
  max-width: 1186px;
  margin: 0 auto; 
}
header {
  max-width: 100%;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
section.section-one {
  background-color: #EDEDED;
  display: flex;
  justify-content: center;
  height: 43px;
}
.section-one h6{
  margin-top: 10px;
  
} 
.section-one p {
  margin-top: -6px;
}
section.section-two {
  background-color: #FBFBFB;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}
.col-7 {
  flex: 60% 1 1;
}
.col-6 {
  flex: 49% 1 1;
  margin-top: 100px;
}
.col-5 {
  flex:40% 1 1;
}
.col-4 {
  flex:33% 1 1;
}
.col-3 {
  flex: 27% 1 1;
}

.col-6 p {
  max-width: 300px;
  
}
.big {
  width: 494px;
}
.middle {
  width: 334px;
}

.middle.last {
  width: 294px;
}
.width-one {
  width: 250px;
}
.width-one.differ {
  width: 205px;

}

.second {
  width: 500px;
}
.width-p {
  width: 380px;
}
.second-one {
  width: 475px;
}
.image img {
  width:583px;
  height: 490px;
  object-fit: cover;
}
.buttons img  {
  width: 123px;
  height: 43px;
  margin: 30px 0;
}
.man img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}
.man-descreptions {
  margin-top: 150px;
  display: flex;

}
.blue-white {
  background-color: #017CFF;;
  color: white;
  max-width: 100%;
}
.count {
  display: flex;
  justify-content: space-between;
}
.count p {
  font-size: 80px;
  font-weight: 700;
}
.count-1{
  display: flex;
  font-size: 17px;
  font-weight: 400;
}

.count div span {
  font-size: 80px
}
.three {
  margin-top: 100px;
  
}
.mikro img {
  width: 100%;
  height:487px;
  object-fit: cover;
}

.column-1 {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 66px;
  background-color:#DAD9D9;
  margin: 8px 0;
}
.col-12 h2 {
  text-align: center;
  margin: 80px 0;
}
.tetragon {
  width: 59px;
  height: 59px;
  background-color:#87CDFF;
  margin-left: 1127px;
  margin-top: 100px;
}
.tetragon.pink {
  color: #E48D8B;
}
.darkblue-white {
  background-color:#194677;
  margin-top: 100px;
  width: 100%;
}
strong {
  color: #E48D8B;
}
.content {
  text-align: center;
  margin: 50px 0 ;

}
.content h3 {
  max-width: 646px;
  margin-left: auto;
  margin-right: auto;
}
